<div class="RecipeDetailSec1">
        <h1>{{ article.title }}</h1>
  {% if article.metafields.arena.image != blank  %}
        <div class="RecipeDetailSec1B">
          {% for value in article.metafields.arena.image  %}
           <div class="RecipeImg">
                <img src="{{article.metafields.arena.image[forloop.index0]}}" alt="">
            </div>
           {% endfor %}
        </div>
  {% endif %}
    </div>
    <div class="RecipeDetailSec2">
      {{ article.content }}
          </div>
          {% comment  %}
    <div class="RecipeDetailSec2">
        <p><em>This is our very own twist on the classic cinnamon roll recipe. The rolls are filled with a layer of our Maple Pecan Butter, then topped with roasted pecans and served with a drizzle of salted maple caramel sauce. This recipe is naturally vegan, but feel free to use regular dairy or butter if you prefer. They are surprisingly simple to make and so delicious!<br><br>Note: To enjoy the rolls fresh out of the oven for breakfast, simply prepare everything the night before, but instead of letting the rolls have their second rise in the pan, cover and place in the refrigerator overnight. In the morning, take them out of the fridge and let them sit in a warm spot for 30-45 minutes before baking as instructed. <br><br></em>Click
            <a href="https://www.youtube.com/watch?v=vamY9NmuRoc" target="_blank" title="https://www.youtube.com/watch?v=vamY9NmuRoc"><strong>here&nbsp;</strong></a>to watch the step by step video</p>

        <div class="RecipeIngredients">
            <p><strong>INGREDIENTS</strong><br><em>Makes 9 rolls</em></p>
            <p><strong>Dough</strong></p>
            <ul>
                <li>1 ¼ cups (295 ml) plant-based milk of your choice</li>

                <li>1 tbsp (15 g) organic cane sugar</li>

                <li>2 ¼ tsp (7 g) instant yeast</li>

                <li>2 ½ cups (400 g) unbleached all-purpose flour + extra as needed</li>

                <li>¾ tsp (7 g) fine sea salt</li>

                <li>2 tbsp (30 ml) melted neutral-tasting oil, such as avocado or refined coconut oil, or melted vegan butter + more for greasing</li>
            </ul>
        </div>
        <div class="RecipeIngredients">

            <p><strong>Filling</strong></p>
            <ul>
                <li>¾ cup (185 g) <a href=""><strong>Maple Pecan Butter</strong></a></li>


            </ul>
        </div>
        <div class="RecipeIngredients">
            <p><strong>Maple salted caramel and pecan topping</strong></p>

            <ul>
                <li>⅓ cup (85 g) pecans, toasted and roughly chopped</li>

                <li>¼ cup (60 ml) maple syrup</li>

                <li>3 tbsp (45 ml) plant-based milk of your choice</li>

                <li>2 tbsp (30 ml) refined coconut oil or plant-based butter</li>

                <li> ¼ tsp pure vanilla extract</li>

                <li>¼ tsp ground cinnamon</li>

                <li>Pinch of fine sea salt</li>
            </ul>
        </div>
        <div class="RecipeInstructions">

            <p><strong>INSTRUCTIONS</strong></p>
            <ul>
                <li>1. Start by warming the milk in a saucepan or in the microwave. The milk has to be warm enough to activate the yeast but not too hot or it will kill it. It should be lukewarm or about 110°F (43°C).</li>
                <li>2. Pour the warm milk into a bowl. Add the sugar and sprinkle the yeast on top. Whisk well until combined and let the yeast activate for 10 minutes.</li>


                <li>3. After 10 minutes, you should see some foaming and bubbling. (If not, it means your yeast is probably expired or the milk is not warm enough. You will have to start again).</li>


                <li>4. In a large bowl, combine the flour and salt. Make a well in the center and pour in the activated yeast mixture along with the melted oil (again, make sure the oil is not hot or it will kill the yeast).</li>


                <li>5. Mix with a wooden spoon until all the ingredients are combined and you get a shaggy, sticky dough. Transfer the dough to a lightly floured work surface. Knead the dough with your hands for 5 minutes, dusting with extra flour as needed
                    if the dough gets too sticky. Be careful not to add too much flour or you will end up with a tough dough; use just as needed so that the dough doesn’t stick to your hands or to the work surface. Knead until you get a smooth ball.</li>


                <li>6. Clean the bowl and slightly oil it. Place the dough ball back into the oiled bowl and roll around to coat all sides. Cover with a clean cloth and set in a warm spot to rise for about 1 to 2 hours, or until the dough has approximately
                    doubled in volume.</li>


                <li>7. Line a 9-inch (23 cm) round springform cake pan (or square dish) with parchment paper.</li>


                <li>8. When it has approximately doubled in size, scrape the dough out onto a work surface. Roll out into a rectangle that measures about 16x11 inches and is about ¼-inch thick (use a measuring tape for more precision). Spread the Maple Pecan
                    Butter evenly over the entire surface of the dough.</li>


                <li>9. Starting at the long edge of the rectangle, tightly roll the dough into a log. Then, cut the log into 9 even rolls using dental floss or a sharp knife (dental floss helps make perfect, clean cuts). It also helps to lightly mark the
                    dough with a knife before cutting so that your pieces are roughly the same size.</li>


                <li>
                    10. Place the rolls in the prepared baking pan. At this point, the rolls can be placed in the refrigerator (covered with a plastic wrap) for 12 hours to be baked the next morning. If refrigerated, let them sit at room temperature for 30 to 45 minutes
                    before baking.
                </li>


                <li>11. Otherwise, cover again with the towel and let the rolls rise in a warm spot for about 45 minutes, or until they have expanded by about half of their original size. Once the rolls have risen, preheat the oven to 350˚F (180˚C). Lightly
                    brush the tops of the rolls with melted coconut oil or plant-based butter.</li>


                <li>12. Bake the rolls for 25-35 minutes, until the top turns light golden brown.</li>


                <li>13. While the rolls are baking, make the caramel sauce. In a small saucepan, heat the maple syrup, milk and coconut oil (or plant-based butter) over medium heat. Let the mixture bubble for 4-5 minutes while whisking. Then remove from the
                    heat and add the vanilla, cinnamon and sea salt. Whisk well to combine and set aside to cool. The sauce will thicken slightly.</li>


                <li>14. When the rolls are golden brown, remove from the oven and let cool in the pan for 10 minutes. Then lift up the parchment paper to remove the rolls from the pan. To serve, top the rolls with toasted pecans and drizzle the maple caramel
                    sauce on top. These rolls are best enjoyed warm fresh out of the oven, but will keep in an airtight container for about 3 days. Reheat in the oven before serving.</li>
            </ul>
        </div>
    </div>
    {% endcomment  %}
    {% if article.metafields.arena.product != blank  %}
    <div class="RecipeDetailSec3">
        <h1>{{ section.settings.title }}</h1>
        <div class="IngredientsSlider">
          {% for value in article.metafields.arena.product %}
            {% assign product = all_products[article.metafields.arena.product[forloop.index0]] %}
            <div class="ProdItem">
                <div class="RecipeImg">
                   <a href="{{ product.url }}"> <img src="{{ product.featured_image | img_url:'' }}" alt=""></a>
                </div>
                <div class="RecipeDesc">
                    <p onclick="location.href='{{ product.url }}'">{{ product.title }}</p>
                </div>
                <div class="price_wrapper price_wrapper_new" style="text-align: center;">
        <span class="price">
         {{ product.price | money }}
        </span>
          <br>
                  {%- if product.selected_or_first_available_variant.available -%}
          <form method="post" action="/cart/add">
             <input type="hidden" name="id" value="{{ product.variants.first.id }}">
             <input type="submit" value="Add to cart" class="btn--outline btn--large btn--full btn--primary uppercase btn--add-to-cart " style="margin-top:10px; min-height:40px; padding: 10px;">
          </form>
                  {% else %}
                    <em>Sold Out</em>
                  {% endif %}
      </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% schema %}
  {
    "name": "Recipe Details",
    "settings": [
       {
          "type": "text",
          "id": "title",
          "label": "Ingredients Section Heading",
           "default": "Ingredients Used"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
  .price_wrapper_new{
    opacity: 0;
    transition:0.5s;
  }
  .ProdItem:hover .price_wrapper_new{
    opacity: 1;
    transition:0.5s;
  }
</style>